/* ARCHIVE LIST WRAPPER */

.archive-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.archive-list li > a {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    padding: .2rem 0;
    color: inherit;
    text-decoration: none;
}

.archive-list .col-date {
    flex: 0 0 4rem;
    white-space: nowrap;
    color: var(--blue);
}

.archive-list .col-content {
    /*flex: 0 0 auto;*/
    white-space: normal;
    text-wrap: wrap;
    /*min-width: 0;*/
}

.archive-list .col-change {
    flex: 0 0 auto;
    white-space: nowrap;
    margin-left: 0.3rem;
    font-size: 0.95rem;
    color: var(--red-text-color);
}

.archive-list li:hover .col-content {
    color: var(--blue-hover);
}
